

/generated/prisma

# Dependencies
node_modules/

# Build output
dist/

# Environment variables
.env
.env.local

# SQLite database
*.db
*.db-journal
prisma/*.db

# TypeScript cache
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# prisma
prisma/*.db
prisma/*.db-journal
prisma/config.ts
prisma/migrations/